@use "../varibles" as *;
@use "../media.scss" as *;

.choices {
	&__btn {
		&:focus-visible {
			outline: none;
		}
	}

	&__box {
		display: none;

		&_open {
			display: block
		};
	}
}
